@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html, body {
  background-color: #0b0f14;
  color: #e5e7eb;
  font-family: ui-sans-serif, system-ui;
}

.card {
  @apply bg-[#11161c] border border-[#1f2937] rounded-2xl shadow-xl;
}

.green-accent {
  color: #00c853;
}

.green-dot {
  background-color: #00c853;
}

.yellow-dot {
  background-color: #facc15;
}
